<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CYBER EXPLOIT | DURJOY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
<br><br>
<div class="container">
  <form action="/" method="get">
<div class="card-body row no-gutters align-items-center">
  
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <!-- <form action="seach.html" method="get"> -->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" name="search" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
   
                                    <div class="col-auto">
                                      <button class="btn btn-lg btn-success" type="submit">Search</button>
                                  </div>
                                  
                                    <!--end of col-->
                                </div>
                                </form>

                                {% for x in text %}
                                <br><br>
                                <p class="px-4">
                                  {{x.linkcyber}}
                                  </p>
                                <b><a href="#" class="px-4">
                                  {{x.titlecyber}}
                                </a></b>

                                <p class="px-4">{{x.descrcyber}}</p>
                                {%endfor%}

                                <br><br>
                                <p class="px-5"> {% if text|length < 1 %}
                                  Your search - <b>{{nai}}</b> - did not match any documents.<br><br>

Suggestions:
<br>
<ul class="px-5">
<li>Make sure that all words are spelled correctly.</li>
    <li>Try different keywords.</li>
    <li>Try more general keywords.</li>
    <ul>
                                  {% endif %}</p>


     



</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
